html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

button {
  background: rgb(63, 79, 87);
  color: inherit;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

label {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.616);
  margin-bottom: 10px;
}

#settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgb(63, 79, 87);
  position: absolute;
  /* ! Don't like hard written width */
  width: 362px;
  top: 20px;
  right: 20px;
}

#additional-content {
  transition: height ease-in-out 0.2s;
  display: flex;
  justify-content: space-between;
  height: 0px;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgb(63, 79, 87);
  padding: 0 5px;
}
#additional-content.expanded {
  height: 200px;
}
.additional-section {
  margin-bottom: 5px;
}

.action.enabled {
  cursor: pointer;
}
.main-settings {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(63, 79, 87);
  border-radius: 5px 5px 0 0;
}
.settings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.custom-button.scale-up {
  transform: scale(1.2);
  margin-right: 0;
  margin-left: 10px;
}
.custom-button {
  transition: all 0.2s ease-in-out;
  margin: 0 5px 0 5px;
  padding: 2px;
  border-radius: 2px;
}
.custom-button.disabled {
  color: rgb(80, 106, 117);
}
.custom-button.enabled:hover {
  color: rgb(63, 79, 87);
  background-color: white;
}
.custom-button.enabled {
  color: white;
}
.color {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 15px;
  height: 15px;
  margin: 0 5px 0 5px;
  border-radius: 50%;
  border: solid rgb(25, 30, 32);
  border-width: 1px;
}
.color.disabled {
  color: black;
}
.color:not(.selected):hover {
  transform: scale(1.3);
}
.color.selected {
  cursor: initial;
  transform: scale(1.05);
  border: solid rgba(255, 255, 255, 0.507);
  border-width: 1px;
}
#bars {
  color: white;
  padding: 0 10px;
  cursor: grab;
}

/* !this area is a mess
  ? may be not too late to pass on .scss 
*/
#menu-expansion-controller {
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgb(63, 79, 87);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  padding: 5px 0 0 5px;
}

#settings.expanded > #menu-expansion-controller {
  border: solid rgb(42, 54, 59);
  border-width: 1px 0 0 0;
}

.control-expansion-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  width: 100%;
  margin: 0;
  height: 15px;
  border: solid rgb(42, 54, 59);
  border-width: 1px 0 0 0;
  border-radius: 0 0 2px 2px;
}
.control-expansion-btn > i {
  display: flex;
  align-items: center;
  /* padding: 0;*/
  height: 5px;
}

#history-color-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#secondary-color-container {
  height: 100%;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
}
.color.secondary-color {
  margin-bottom: 5px;
  width: 10px;
  height: 10px;
}

#colorpicker {
  border-width: 0;
  width: 92%;
  height: 20px;
  border-radius: 2px;
  padding: 0 0px;
}

/** SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: background-color ease-in-out 0.2s;
  background: rgba(236, 236, 236, 0.2);
  width: 5px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(236, 236, 236, 0.4);
}
